/* General styles */
body {
    margin: 0;
    font-family: 'Noto Serif', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D7FFCD;
    padding: 20px 20px;
    z-index: 2; /* Ensure navbar is above other content */
    position: relative; /* Position relative for z-index to work */
}

.navbar .logo {
    font-size: 24px; /* Maintain the same font size for the logo */
}

.navbar a {
    text-decoration: none;
    color: #001207; /* Change text color to solid black */
    margin-left: 12px;
    position: relative;
    font-size: 18px; /* Keep the font size of the navbar links */
}

.navbar a.current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: #72886D;
    border-radius: 3px;
    bottom: -5px;
    left: 0;
}

/* Full-screen menu styles */
.full-screen-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #D7FFCD;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 3; /* Ensure menu is above other content */
}

.full-screen-menu.active {
    display: flex;
}

.full-screen-menu a {
    display: block;
    margin: 20px 0;
    font-size: 24px;
    text-decoration: none;
    color: #001207; /* Change text color to solid black */
    position: relative;
}

.full-screen-menu a.current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: #72886D;
    border-radius: 3px;
    bottom: -5px;
    left: 0;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

/* Top header styles */
.top-header {
    width: 100%;
    height: 300px;
    background-image: url('assets/headerBG.jpg');
    background-size: cover;
    position: relative;
}

.top-header .overlay-text {
    position: absolute;
    top: 50%;
    left: 70px;
    transform: translateY(-50%);
    color: #000000;
    font-size: 48px; /* Increase font size */
}

.top-header .overlay-text .productive {
    color: #175800;
}

/* Main content styles */
.main-content {
    background-color: #576653;
    color: #E4EFDE;
    text-align: center;
    padding: 30px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content .text {
    margin: 0; /* Remove margin to reduce spacing between lines */
    padding-top: 12px; /* Maintain 22px spacing from top of the rectangle */
    font-size: 36px; /* Increase font size */
}

.main-content .arrow {
    margin: 0; /* Remove margin */
    margin-top: 7px; /* Reduce spacing between text and arrow */
    padding-bottom: 13px; /* Maintain 22px spacing from bottom of the rectangle */
}

/* Extra content styles */
.extra-content {
    display: flex;
    flex-direction: row;
    height: 400px;
}

.extra-content .content-block {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extra-content .image-block img {
    max-width: 100%;
    height: auto;
}

.extra-content .text-block {
    background-color: #e2e3e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 24px;
}

.extra-content .text-block div {
    margin: 10px 0;
}

/* Responsive styles */
.hamburger {
    display: none;
}

@media (max-aspect-ratio: 1/1) {
    .navbar .menu {
        display: none;
    }
    .navbar .hamburger {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }

    .extra-content {
        flex-direction: column;
        height: auto;
    }

    .extra-content .content-block {
        height: 400px;
    }
}

@media (min-aspect-ratio: 1/1) {
    .navbar .hamburger {
        display: none;
    }
}
