/* General styles */
body {
    margin: 0;
    font-family: 'Noto Serif', serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D7FFCD;
    padding: 20px 20px;
    z-index: 2;
    position: relative;
}

.navbar .logo {
    font-size: 24px;
}

.navbar .menu {
    display: flex;
}

.navbar a {
    text-decoration: none;
    color: #001207;
    margin-left: 12px;
    position: relative;
    font-size: 18px;
}

.navbar a.current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: #72886D;
    border-radius: 3px;
    bottom: -5px;
    left: 0;
}

/* Hamburger menu styles */
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Full-screen menu styles */
.full-screen-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #D7FFCD;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 3;
}

.full-screen-menu.active {
    display: flex;
}

.full-screen-menu a {
    display: block;
    margin: 20px 0;
    font-size: 24px;
    text-decoration: none;
    color: #001207;
    position: relative;
}

.full-screen-menu a.current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: #72886D;
    border-radius: 3px;
    bottom: -5px;
    left: 0;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

/* Top header styles */
.top-header {
    width: 100%;
    height: 300px;
    background-image: url('assets/headerBG.jpg');
    background-size: cover;
    position: relative;
}

.top-header .overlay-text {
    position: absolute;
    top: 50%;
    left: 70px;
    transform: translateY(-50%);
    color: #000000;
    font-size: 48px;
}

.top-header .overlay-text .productive {
    color: #175800;
}

/* Main content styles */
.main-content {
    background-color: #576653;
    color: #E4EFDE;
    text-align: center;
    padding: 30px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content .text {
    margin: 0;
    padding-top: 12px;
    font-size: 36px;
}

.main-content .arrow {
    margin: 0;
    margin-top: 7px;
    padding-bottom: 13px;
}

/* Extra content styles */
.extra-content {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.extra-content .content-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.extra-content .image-block {
    height: 400px;
}

.extra-content .image-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.extra-content .text-block {
    background-color: #e2e3e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 34px;
    height: 400px;
}

.extra-content .text-block div {
    margin: 10px 0;
}

/* Button Panel styles */
.button-panel {
    background-color: #3c4639;
    height: calc(15px + 64px + 15px); /* 64px is the button height; added 15px padding to top and bottom */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.button-panel .rounded-button {
    color: #E4EFDE;
    border: 3px solid #E4EFDE; /* Thicker border */
    border-radius: 50px;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
    margin: 0 5px; /* Add 10px spacing between buttons (5px on each side) */
}

.button-panel .rounded-button:hover {
    background-color: #E4EFDE;
    color: #576653;
}

/* Responsive styles */
@media (max-aspect-ratio: 1/1) {
    .navbar .menu {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .extra-content {
        flex-direction: column;
    }
}

@media (min-aspect-ratio: 1/1) {
    .navbar .hamburger {
        display: none;
    }

    .extra-content {
        flex-direction: row;
    }

    .extra-content:nth-child(even) {
        flex-direction: row-reverse;
    }

    .extra-content .content-block {
        width: 50%;
    }
}
